@model IEnumerable<GTM_Shop.Models.ProduitModel>
@{
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
    
    ViewBag.Title = "ListerProduit";
}

<h4>Liste des prodtuis</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Visuel)</th>
            <th>@Html.DisplayNameFor(model => model.NomProduit)</th>
            <th>@Html.DisplayNameFor(model => model.Reference)</th>
            <th>@Html.DisplayNameFor(model => model.Prix)</th>
            <th>@Html.DisplayNameFor(model => model.PromotionProduit)</th>
            <th>@Html.DisplayNameFor(model => model.Stock)</th>
            <th>@Html.DisplayNameFor(model => model.NomCatalogue)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.MoyenneNote)</th>
            <th>@Html.ActionLink("Ajouter", "AjouterProduit", null, new { @class = "btn btn-success" })</th>
            <th>
                <form role="search" name="searchform" method="post">
                    <div class="input-group">
                        <input type="text" placeholder="Recherche par Nom" name="MotRecherche" class="form-control left-rounded">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-inverse right-rounded">Chercher</button>
                        </div>
                    </div>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <th><img src="../Content/images/@Html.DisplayFor(modelItem => p.Visuel)" height="80px" class="Img_produit" /></th>
                <th>@Html.DisplayFor(modelItem => p.NomProduit)</th>
                <th>@Html.DisplayFor(modelItem => p.Reference)</th>
                <th>@Html.DisplayFor(modelItem => p.Prix)</th>
                <th>@Html.DisplayFor(modelItem => p.PromotionProduit)</th>
                <th>@Html.DisplayFor(modelItem => p.Stock)</th>
                <th>@Html.DisplayFor(modelItem => p.NomCatalogue)</th>
                <th>@Html.DisplayFor(modelItem => p.Description)</th>
                <th>@Html.DisplayFor(modelItem => p.MoyenneNote)</th>
                <td>@Html.ActionLink("Modifier", "ModifierProduit", new { id = p.idProduit }, new { @class = "btn btn-warning" })</td>
                <td>@Html.ActionLink("Supprimer", "SupprimerProduit", new { id = p.idProduit }, new { @class = "btn btn-danger" })</td>
            </tr>
        }

    </tbody>


</table>
