@model GTM_Shop.Metier.Administrateur
@{
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
    ViewBag.Title = "ModifierAdmin";
}


    @using (Html.BeginForm("ModifierAdmin", "Administrateur", FormMethod.Post))
    {
        <div class="formulaire">
            <span>Remplir le formulaire pour modifier un administrateur :</span><br /><br />
            @Html.HiddenFor(model => model.idUtilisateur) 

            <span>@Html.DisplayNameFor(model => model.SexeUtilisateur) : </span><br />
            <span>@Html.RadioButtonFor(model => model.SexeUtilisateur, "Homme", "Homme") Homme <br />@Html.RadioButtonFor(model => model.SexeUtilisateur, "Femme", "Femme") Femme @Html.ValidationMessageFor(model => model.SexeUtilisateur, "", new { @class = "text-danger" })</span><br />

            <span>@Html.DisplayNameFor(model => model.Nom) : </span>
            <span>@Html.TextBoxFor(model => model.Nom, new { @class = "form-control left-rounded right-rounded" }) @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })</span><br />

            <span>@Html.DisplayNameFor(model => model.Prenom) : </span>
            <span>@Html.TextBoxFor(model => model.Prenom, new { @class = "form-control left-rounded right-rounded" }) @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })</span><br />

            <span>@Html.DisplayNameFor(model => model.Profession) : </span>
            <span>@Html.TextBoxFor(model => model.Profession, new { @class = "form-control left-rounded right-rounded" }) @Html.ValidationMessageFor(model => model.Profession, "", new { @class = "text-danger" })</span><br />

            <span>@Html.DisplayNameFor(model => model.Email) : </span>
            <span>@Html.TextBoxFor(model => model.Email, new { @class = "form-control left-rounded right-rounded" }) @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</span><br />

            <span>@Html.DisplayNameFor(model => model.MotDePasse) : </span>
            <span>@Html.TextBoxFor(model => model.MotDePasse, new { @class = "form-control left-rounded right-rounded" }) @Html.ValidationMessageFor(model => model.MotDePasse, "", new { @class = "text-danger" })</span><br />

            <span>@Html.DisplayNameFor(model => model.ConfirmationMotDePasse) : </span>
            <span>@Html.TextBoxFor(model => model.ConfirmationMotDePasse, new { @class = "form-control left-rounded right-rounded" }) @Html.ValidationMessageFor(model => model.ConfirmationMotDePasse, "", new { @class = "text-danger" })</span><br />

            <span>@Html.DisplayNameFor(model => model.idRole) : </span>
            <span>@Html.DropDownList("idRole", null, new { @class = "btn dropdown-toggle" })</span><br /><br />


            <button class="btn btn-warning bouton" type="submit">Modifier</button>
            <br />
        </div>
    }