@model IEnumerable<GTM_Shop.Models.CommandePanierModel>
@{
    ViewBag.Title = "AfficherValidationPanier";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    decimal Totaux = 0;
}

<br /><br /><br />
<h2>Récapitulatif de la commande</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PromotionLigneCommande)</th>
            <th>@Html.DisplayNameFor(model => model.Visuel)</th>
            <th>@Html.DisplayNameFor(model => model.NomProduit)</th>
            <th>@Html.DisplayNameFor(model => model.Prix)</th>
            <th>@Html.DisplayNameFor(model => model.Quantite)</th>
            <th>@Html.DisplayNameFor(model => model.PromotionProduit)</th>
            <th>Total Ligne</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            c.TotalLigneCommande = (c.Prix - (c.Prix * Convert.ToDecimal((c.PromotionProduit / 100)))) * c.Quantite;
            Totaux = Totaux + (c.TotalLigneCommande - (c.TotalLigneCommande * Convert.ToDecimal(c.PromotionLigneCommande / 100)));
            <tr>
                <td>@Html.DisplayFor(modelItem => c.PromotionLigneCommande)</td>
                <td><img src="~/Content/images/@Html.DisplayFor(modelItem => c.Visuel)" height="80px" class="Img_produit" /></td>
                <td>@Html.DisplayFor(modelItem => c.NomProduit)</td>
                <td>@Html.DisplayFor(modelItem => c.Prix)</td>
                <td>@Html.DisplayFor(modelItem => c.Quantite)</td>
                <td>@Html.DisplayFor(modelItem => c.PromotionProduit)</td>
                <td>@Html.DisplayFor(modelItem => c.TotalLigneCommande)</td>
                <td>@Html.ActionLink("Modifier", "ModifierLigneCommande", "Client", new { id = c.idLigneCommande }, new { @class = "btn btn-warning" })</td>
                <td>@Html.ActionLink("Supprimer", "SupprimerLigneCommande", "Client", new { id = c.idLigneCommande }, new { @class = "btn btn-danger" })</td>
            </tr>
        }

    </tbody>


</table>
 <br /><br />

<h2>Choix du Mode de Paiement</h2>



  

        <input type="radio"  value="cheque"></input>
        <label for="cheque">Cheque</label></br>
        <input type="radio"  value="virement"></input>
        <label for="virement">Virement</label></br>
        <input type="radio"  value="facture"></input>
        <label for="facture">Facture</label></br>
        <input type="radio" value="cb"></input>
        <label for="CB">Carte Bancaire</label></br>

  <br /><br />
<span>@Html.ActionLink("Payer", "Paiement", "Client", new { @class = "btn btn-success" })</span>
   