@model IEnumerable<GTM_Shop.Models.CommandePanierModel>
@{
    ViewBag.Title = "AfficherValidationPanier";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    decimal Totaux = 0;
}

<br /><br /><br />

<h3>Informations personnelles</h3><br />

<div class="AffichageAdresse">
    <strong>
        <span>
            @ViewBag.Nom
    </span>
    <span>
        @ViewBag.Prenom
    </span>
</strong><br />
    <span>
        @ViewBag.Adresse01
    </span><br />
    <span>
        @ViewBag.Adresse02
    </span><br />
    <span>
        @ViewBag.Adresse03
    </span>
    <span>
        @ViewBag.Adresse04
    </span><br />
    <span>@ViewBag.Adresse05
    </span><br />
</div>

<h3>Récapitulatif de la commande</h3><br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PromotionLigneCommande)</th>
            <th>@Html.DisplayNameFor(model => model.Visuel)</th>
            <th>@Html.DisplayNameFor(model => model.NomProduit)</th>
            <th>@Html.DisplayNameFor(model => model.Prix)</th>
            <th>@Html.DisplayNameFor(model => model.Quantite)</th>
            <th>@Html.DisplayNameFor(model => model.PromotionProduit)</th>
            <th>Total Ligne</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            c.TotalLigneCommande = (c.Prix - (c.Prix * Convert.ToDecimal((c.PromotionProduit / 100)))) * c.Quantite;
            Totaux = Totaux + (c.TotalLigneCommande - (c.TotalLigneCommande * Convert.ToDecimal(c.PromotionLigneCommande / 100)));
            <tr>
                <td>@Html.DisplayFor(modelItem => c.PromotionLigneCommande)</td>
                <td><img src="~/Content/images/@Html.DisplayFor(modelItem => c.Visuel)" height="80px" class="Img_produit" /></td>
                <td>@Html.DisplayFor(modelItem => c.NomProduit)</td>
                <td>@Html.DisplayFor(modelItem => c.Prix)</td>
                <td>@Html.DisplayFor(modelItem => c.Quantite)</td>
                <td>@Html.DisplayFor(modelItem => c.PromotionProduit)</td>
                <td>@Html.DisplayFor(modelItem => c.TotalLigneCommande)</td>
            </tr>
        }

    </tbody>


</table>

@if (Totaux != 0)
{
    <h4 id="Total_Panier">Total de la commande : <strong>@Convert.ToDouble(@Totaux) euros</strong></h4>
}
 <br /><br />

<h3>Choix du Mode de Paiement</h3>
<br /><br />

<div class="MoyenPaiementCont">

@using (Html.BeginForm("#", "#", FormMethod.Post))
{
        <div class="MoyenPaiement">
            <span>@Html.RadioButton("MoyenPaiement", new { id = 1 }) Carte bancaire </span><br /><br />
            <span>@Html.TextBox("Numero de votre Carte Bancaire","Numero Carte Bancaire", new { @class = "form-control left-rounded right-rounded" })</span>
            <span>@Html.TextBox("date Expiration", "Date Validité", new { @class = "form-control left-rounded right-rounded" })</span><br />
            <span>@Html.ActionLink("Payer", "Paiement", "Client", new { @class = "btn btn-success" })</span>
        </div>
        <div class="MoyenPaiement">
            <span>@Html.RadioButton("MoyenPaiement", new { id = 2 }) Cheque </span><br /><br />
            <span>Adresse d'envoie du chèque :</span><br />
            <span>GT'M Shop</span><br />
            <span>13, avenue de la gare</span><br />
            <span>78180 Montigny le Bretonneux</span><br /><br />
            <span>@Html.ActionLink("Payer", "Paiement", "Client", new { @class = "btn btn-success" })</span>
        </div>
        <div class="MoyenPaiement">
            <span>@Html.RadioButton("MoyenPaiement", new { id = 3 }) Virement </span><br /><br />
            <span>Information RIB GT'M Shop :</span><br />
            <span>IBAN : FR763 00010 07941 234567 890 18</span><br />
            <span>Code Banque : 30001</span><br />
            <span>Code guichet : 00745</span><br /><br />
            <span>@Html.ActionLink("Payer", "Paiement", "Client", new { @class = "btn btn-success" })</span>
        </div>
        <div class="MoyenPaiement">
            <span>@Html.RadioButton("MoyenPaiement", new { id = 4 }) Facture </span><br /><br />
            <span>Une factrure sera envoyé à :</span><br />
            <span>GT'M Shop</span><br />
            <span>13, avenue de la gare</span><br />
            <span>78180 Montigny le Bretonneux</span><br /><br />
            <span>@Html.ActionLink("Payer", "Paiement", "Client", new { @class = "btn btn-success" })</span>
        </div>

            <br /><br />


}

</div>

<div class="AffichageBoutonValider">
    <br /><br />

  

      
</div>
