@model GTM_Shop.Metier.Adresse
@{
    ViewBag.Title = "ConfirmationAdresse";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<br /><br />

<div class="AffichageAdresse">

    <img src="../Content/images/car_02.png" height="150px" class="Img_produit" />

    <h4>Confirmation de votre adresse de livraison</h4>

    <strong>
        <span> @Html.DisplayFor(modelItem => Model.RueLigne01)</span><br />
        <span>@Html.DisplayFor(modelItem => Model.RueLigne02)</span><br />
        <span> @Html.DisplayFor(modelItem => Model.CodePostale) @Html.DisplayFor(modelItem => Model.Ville)</span><br />
        <span> @Html.DisplayFor(modelItem => Model.Pays)</span><br /><br />
    </strong>

    <span>@Html.ActionLink("Modifier", "ModifierAdresse", "Client", new { id = Convert.ToInt32(@Session["idUtilisateur"]) }, new { @class = "btn btn-default" })</span>
    <span>@Html.ActionLink("Valider", "AfficherValidationPanier", new { id = Convert.ToInt32(@Session["idUtilisateur"]) }, new { @class = "btn btn-success" })</span>


</div>