@model IEnumerable<GTM_Shop.Models.CommandePanierModel>

@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    ViewBag.Title = "DetailPanier";
    decimal Totaux = 0;
}

<br /><br /><br />
<h4>Voici Votre Panier</h4>







<table class="table table-striped">
    <thead>
        <tr>
            <th class="Non_iPhone">@Html.DisplayNameFor(model => model.PromotionLigneCommande)</th>
            <th class="Non_iPhone">@Html.DisplayNameFor(model => model.Visuel)</th>
            <th>@Html.DisplayNameFor(model => model.NomProduit)</th>
            <th class="Non_iPhone">@Html.DisplayNameFor(model => model.Prix)</th>
            <th>@Html.DisplayNameFor(model => model.Quantite)</th>
            <th class="Non_iPhone">@Html.DisplayNameFor(model => model.PromotionProduit)</th>
            <th class="Non_iPhone">Total Ligne</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            c.TotalLigneCommande = (c.Prix - (c.Prix * Convert.ToDecimal((c.PromotionProduit / 100)))) * c.Quantite;
            Totaux = Totaux + (c.TotalLigneCommande - (c.TotalLigneCommande * Convert.ToDecimal(c.PromotionLigneCommande / 100)));
            <tr>
                <td class="Non_iPhone">@Html.DisplayFor(modelItem => c.PromotionLigneCommande)</td>
                <td class="Non_iPhone"><img src="~/Content/images/@Html.DisplayFor(modelItem => c.Visuel)" height="80px" class="Img_produit" /></td>
                <td>@Html.DisplayFor(modelItem => c.NomProduit)</td>
                <td class="Non_iPhone">@Html.DisplayFor(modelItem => c.Prix)</td>
                <td>@Html.DisplayFor(modelItem => c.Quantite)</td>
                <td class="Non_iPhone">@Html.DisplayFor(modelItem => c.PromotionProduit)</td>
                <td class="Non_iPhone">@Html.DisplayFor(modelItem => c.TotalLigneCommande)</td>
                <td>@Html.ActionLink("Modifier", "ModifierLigneCommande", "Client", new { id = c.idLigneCommande }, new { @class = "btn btn-warning" })</td>
                <td>@Html.ActionLink("Supprimer", "SupprimerLigneCommande", "Client", new { id = c.idLigneCommande }, new { @class = "btn btn-danger" })</td>
            </tr>

        }

    </tbody>


</table>

    @if (Totaux == 0)
    {
        <div class="Panier_vide">
            <img src="~/Content/images/Site_Avatar_Panier_vide.png" height="150px" class="Img_produit" /><br />
            <strong>Votre panier est vide...</strong>
        </div>
    }


    @if (Totaux != 0)
    {
        <h4 id="Total_Panier">Total de la commande : <strong>@Convert.ToDouble(Totaux) euros</strong></h4>
    }

    <div class="boutonPayer">
    @if (Totaux != 0)
    {
        @Html.ActionLink("Valider et Payer", "ConfirmationAdresse", "Client", new { idUtilisateur = Convert.ToInt32(@Session["idUtilisateur"]) }, new { @class = "btn btn-success" })<br /><br />
            <br /><br />




    }

    </div>
     <div class="AffichageAdresse">
            <strong class="text-danger text-center">@Session["MessageQuantite01"]</strong><br /><br />
            <strong class="text-danger text-center">@Session["MessageQuantite02"]</strong><br /><br />
            <strong class="text-danger text-center">@Session["MessageQuantite03"]</strong>
    </div>
