<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="icon" type="image/x-icon" href="./Content/images/Favicon.ico" />
    <title>@ViewBag.Title - GT'M Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
    @RenderSection("ExternalCSS", false)
</head>
<body>
    <div id="page">
        <div id="Block_header">

            <div id="Block_logo">
                <div id="logo"><a href="@Url.Action("Index", "Home")"><img id="Img_logo" src="~/Content/images/Logo.png" alt="Logo" title="Home" /></a></div>
                <div id="Block_typo_logo"><img id="Img_typo_logo" src="~/Content/images/Typo_Logo.png" alt="Logo_Typo" /></div>
            </div>

            <div id="Block_menu_complet">
                <div id="Block_icone">
                    <div id="icone">
                        <a href="@Url.Action("RechercherProduit", "Home")"><img id="Icone_Recherche" class="Icone_Menu" src="~/Content/images/Icone_Recherche.png" alt="Rechercher" title="Rechercher" /></a>
                        <a href="@Url.Action("Contact", "Home")"><img id="Icone_Mail" class="Icone_Menu" src="~/Content/images/Icone_Mail.png" alt="Mail" title="Mail" /></a>
                        <a href="@Url.Action("Connexion", "Home")"><img id="Icone_Connexion" class="Icone_Menu" src="~/Content/images/Icone_Connexion.png" alt="Connexion" title="Connexion" /></a>
                        <a href="@Url.Action("CreerCompteClient", "Client")"><img id="Icone_Add_Profil" class="Icone_Menu" src="~/Content/images/Icone_Add_Profil.png" alt="Add_Profil" title="Add_Profil" /></a>
                         
                    </div>
                </div>

                <div id="Block_menu">
                    <ul class="Liste_menu">
                        <li class="Ligne_menu">@Html.ActionLink("Informatique", "ListerInformatique", "Home", new { idCatalogue = 1 }, new { @class = "Lien_menu" })</li>
                        <li class="Ligne_menu">@Html.ActionLink("Image", "ListerImage", "Home", new { idCatalogue = 2 }, new { @class = "Lien_menu" })</li>
                        <li class="Ligne_menu">@Html.ActionLink("Son", "ListerSon", "Home", new { idCatalogue = 6 }, new { @class = "Lien_menu" })</li>
                        <li class="Ligne_menu">@Html.ActionLink("Téléphonie", "ListerTelephonie", "Home", new { idCatalogue = 7 }, new { @class = "Lien_menu" })</li>
                        <li class="Ligne_menu">@Html.ActionLink("Promotion", "ListerPromotion", "Home", new { idCatalogue = 0 }, new { @class = "Lien_menu" })</li>
                    </ul>


                <ul id="Menu_iphone" class="nav nav-pills nav-stacked">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Menu
                        </a>

                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Informatique", "ListerInformatique", "Home", new { idCatalogue = 1 }, "")</li>
                            <li>@Html.ActionLink("Image", "ListerImage", "Home", new { idCatalogue = 2 },"")</li>
                            <li>@Html.ActionLink("Son", "ListerSon", "Home", new { idCatalogue = 6 },"")</li>
                            <li>@Html.ActionLink("Téléphonie", "ListerTelephonie","home", new { idCatalogue = 7 },"")</li>
                            <li>@Html.ActionLink("Promotion", "ListerPromotion", "Home", new { idCatalogue = 0 },"")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>
                                @if (@Session["idUtilisateur"] != null)
                                {
                                    @Html.ActionLink("Deconnexion", "Deconnexion", "Home")
                                }
                                else
                                {
                                    @Html.ActionLink("Connexion", "Connexion", "Home")
                                }
                            </li>
                            <li>@Html.ActionLink("Créer Profil", "CreerCompteClient", "Client")</li>
                        </ul>
                    </li>
                </ul>
                </div>





            </div>

        </div>



        <div id="Block_corps">

            @RenderBody()

        </div>
    </div>

    <div id="Block_footer">
        <div id="Block_iconesFooter">
            <div id="Icone_footer">
                <a href="@Url.Action("SAV", "Home")"><img class="Icone_f" src="~/Content/images/Icone_SAV.png" alt="SAV" title="SAV" /></a>
                <a href="@Url.Action("Livraison", "Home")"><img class="Icone_f" src="~/Content/images/Icone_Livraison.png" alt="Livraison" title="Conditions Livraison" /></a>
                <a href="@Url.Action("Paiement_infos", "Home")"><img class="Icone_f" src="~/Content/images/Icone_Paiement.png" alt="Paiement" title="Moyen Paiement" /></a>
            </div>
        </div>

        <div id="Block_texteFooter">

            <div id="Block_menu_footer">
                <p class="Titre_footer">S'informer et acheter</p>
                <ul class="Liste_footer">
                    <li class="Ligne_menu_footer">@Html.ActionLink("Informatique", "ListerInformatique", "Home", new { idCatalogue = 1 }, new { @class = "Lien_menu_footer Ligne_menu_footer" })</li>
                    <li class="Ligne_menu_footer">@Html.ActionLink("Image", "ListerImage", "Home", new { idCatalogue = 2 }, new { @class = "Lien_menu_footer Ligne_menu_footer" })</li>
                    <li class="Ligne_menu_footer">@Html.ActionLink("Son", "ListerSon", "Home", new { idCatalogue = 6 }, new { @class = "Lien_menu_footer Ligne_menu_footer" })</li>
                    <li class="Ligne_menu_footer">@Html.ActionLink("Téléphonie", "ListerTelephonie", "Home", new { idCatalogue = 7 }, new { @class = "Lien_menu_footer Ligne_menu_footer" })</li>
                    <li class="Ligne_menu_footer">@Html.ActionLink("Promotion", "ListerPromotion", "Home", new { idCatalogue = 0 }, new { @class = "Lien_menu_footer Ligne_menu_footer" })</li>
                </ul>
            </div>
 
               

            <div id="Block_reseau_footer">
                <p class="Titre_footer">Reseaux Sociaux</p>
                <ul class="Liste_footer">
                    <li class="Ligne_reseau_footer">

                        <a class="Lien_reseau" href="https://www.facebook.com/" target="_blank"><img class="Icone_reseau" src="~/Content/images/Icone_Facebook_v02.png" alt="Image Facebook" title="Lien Facebook"/></a>

                    </li>
                    <li class="Ligne_reseau_footer">
                        <a class="Lien_reseau" href="https://www.twitter.com/" target="_blank"><img class="Icone_reseau" src="~/Content/images/Icone_Twitter_v02.png" alt="Image Twitter" title="Lien Twitter" /></a>

                    </li>
                    <li class="Ligne_reseau_footer">
                        <a class="Lien_reseau" href="https://www.pinterest.com/" target="_blank"><img class="Icone_reseau" src="~/Content/images/Icone_Pinterest_v02.png" alt="Image Pinterest" title="Lien Pinterest" /></a>

                    </li>
                </ul>
            </div>

            <div id="Block_adresse_footer">
                <p class="Titre_footer">Contacts</p>
                <div id="Img_adresse_footer">
                    <a href="https://goo.gl/maps/pBAE6bsKrS92" target="_blank" title="Google Maps">
                        <img id="Img_carte" src="~/Content/images/Carte.png" alt="Carte" />
                    </a>
                </div>
                <ul class="Liste_footer">
                    <li class="Ligne_adresse_footer"><strong>GT'M SHOP</strong></li>
                    <li class="Ligne_adresse_footer">13, avenue de la gare</li>
                    <li class="Ligne_adresse_footer">78180 Montigny le Bretonneux</li>
                </ul>
            </div>
            <div>
                <p id="Lien_Copyright_Public">
                    &copy; @DateTime.Now.Year - <a class="Lien_menu_footer Ligne_menu_footer" href="mailto:fabien.gaudron@gmail.com">Fabien GAUDRON </a><a class="Lien_menu_footer Ligne_menu_footer" href="mailto:Mathilde.KonnKonn@gmail.com"> Mathilde KONN KONN </a>
                    <a class="Lien_menu_footer Ligne_menu_footer" href="mailto:alexandre.Pichavant@gmail.com"> Alexandre PICHAVANT </a><a class="Lien_menu_footer Ligne_menu_footer" href="mailto:Chapelle.adrien9@gmail.com"> Adrien CHAPELLE</a>
                </p>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Script.js" type="text/javascript"></script>
    @RenderSection("ExternalJS", false)
</body>
</html>
